<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./login.css">
</head>
<body>
    <section>
    <div class="left-content">
    <h1>VIDYA SARTHI</h1>
    <h2>Welcome to Vidya Sarthi</h2>
    <p>A digital bridge between students and teachers, where teachers share 
       knowledge and students access notes with ease.</p>
  </div>

  <div class="login-box">
    <h3>Login</h3><hr style="width:50%;text-align:left;margin-left:0;margin-top:10px;" color="black">
    <p>Welcome onboard with us!</p>

    <form>
      <label for="email">Admin Email ID</label>
      <input class="new" type="email" id="email" placeholder="Enter your username">

      <label for="password">Password</label>
      <input class="new" type="password" id="password" placeholder="Enter your password">

      <div class="extra">
        <a href="#">Forgot Password?</a>
      </div>

      <button class="logbutton" type="submit">LogIn</button>

    </form>
  </div>
  </section>
</body>
</html>