@import "tailwindcss";
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.section{
    /* border: 2px solid; */
    background-image: url(../src/assets/curveBg.jpg);
    background-size:  100vw 30rem;
    background-repeat: no-repeat;
    height: 100vh;
    /* margin-top: 10px; */
    
}

.navbar{
  padding-left: 40px;
    display: flex;
    /* border: 2px solid red; */
    height: 4rem;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}
.nav-links{
  display: flex;
  gap: 30px;
  list-style-type: none;
  }
.nav-links>li>a{
  text-decoration: none;
  color: black;
}
.nav-buttons{
  display: flex;
  gap: 30px;
 
}
.nav-buttons>button{
   background-color: rgb(219, 169, 45);
   color: white;
   border: none;
   padding: 8px;
}
.hero{
  background-image: url(../src/assets/clg.png);
  height: 600px;
  background-size:100vw 600px;
  display: flex;
  align-items: center;

  justify-content: center;
  border-radius: 50px;
  margin-left: 120px;
  margin-right: 120px;
}
.hero-overlay{
  /* border: 3px solid violet; */
  width: 50rem;
  font-size: 2rem;
  color: white;
  text-align: center;
}
.highlight{
background-color: rgb(228, 182, 41);
}
.info-section{
  /* border: 2px solid blue; */
  width: 58vw;
  font-size: 1.2rem;
  padding: 20px;
  margin: auto;
}
.get-start{
  margin-left: 700px;
  margin-top: 20px;
  padding: 8px;
  background-color: rgb(219, 169, 45);
  color: white;
  border: none;
}

.mainheading {
      margin: 0;
      font-family: Arial, sans-serif;
      background-image: url('https://images.unsplash.com/photo-1523050854058-8df90110c9f1');
      height: 100vh;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 50px;
      color: white;
    }

    .left-content {
      max-width: 35%;
      margin-left: 50px;
      
    }

    .left-content h1 {
      font-size: 50px;
      margin: 0;
    }

    .left-content h2 {
      font-size: 24px;
      margin: 10px 0;
    }

    .left-content p {
      font-size: 16px;
      line-height: 1.;
    }

    .login-box {
      background: rgba(255, 255, 255, 0.5);
      padding: 30px;
      border-radius: 10px;
      width: 300px;
      color: black;
    }

    .login-box h3 {
      margin-top: 0px;
      text-align: left;
    }

    .login-box p {
      font-size: 14px;
      text-align: left;
      margin-top: 10px;
    }

select,
input[type="text"] {
  flex: 1;
  padding: 10px 16px;
  background: #dce3eb;              
  border: 1px solid #b0b8c1;       
  border-radius: 15px;             
  font-size: 15px;
  font-weight: 500;
  color: #000;
  outline: none;
  flex: 0 0 200px;
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.15); 
}

/* select,
input[type="text"] {
  flex: 1;
  padding: 10px 16px;
  background: #dce3eb;              
  border: 1px solid #b0b8c1;       
  border-radius: 15px;             
  font-size: 15px;
  font-weight: 500;
  color: #000;
  outline: none;
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.15); 
} */


input[type="text"] {
  cursor: text;
}

.btn1 {
   background: rgb(254, 194, 67);        
  border: none;
  padding: 8px 35px;
  border-radius: 12px;        
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
}

.horizontal1{
  color: #444;
  width: 1500px;
}

.section2 {
  margin-top: 15px;
}

    body {
        background-image: url(./academic\ &\ admin\ zone\ \(1\)\ 2.png);
        background-size: cover;
    }
    .new {
        background-color: rgb(206, 228, 235);
    }